.site-name{
    padding: 20px;
    font-weight: bolder;
    color: #fff;

}
.site-menu{
    padding: 20px;
  

}
a:hover{
    background-color:rgba(255, 255, 255, 0.182);
    
    
}
a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #3581B8;
}
